<!-- created by : ابراهيم العبدالسلام -->

<%- include('../partials/header') -%>
    <%- include('../partials/navbar') -%>
        <div class="container">
            <div class="row mt-4">
                <div class="col-md-8 mt-5 ml-auto mr-auto">
                    <div class="border border-light rounded-pill p-4 shadow ">
                        <h1 class="display-4">Edit the Product:</h1>
                        <hr>

                        <%- include('../partials/flashMessages') -%>
                            <form action="/products/update" method="post">
                                <input type="hidden" name="id" value="<%=product.id%>">
                                <div class="form-group">
                                    <label for="title">Product Name</label>
                                    <input type="text" name="title" id="tile" class="form-control" value="<%= product.title%>">
                                </div>

                                <div class="form-group">
                                    <label for="type">Product Type</label>
                                    <input type="text" name="type" id="type" class="form-control" value="<%= product.type%>">
                                </div>

                                <div class="form-group">
                                    <label for="price">Product Price</label>
                                    <input type="text" name="price" id="price" class="form-control" value="<%= product.price%>">
                                </div>

                                <div class="form-group">
                                    <label for="date">Product Expire Date</label>
                                    <input type="date" name="date" id="date" class="form-control" value="<%= productDate %>">
                                </div>

                                <div class="form-group mt-5 text-center">
                                    <button type="submit" class="btn btn-light w-50"> Update</button>
                                </div>
                            </form>
                    </div>
                </div>
            </div>
        </div>


        <%- include('../partials/footer') -%>